@import "../index.scss";
.sidebar {
  @include breakpoint(md) {
    display: none;
  }

  .slide {
    transition: 0.8s ease;
    position: absolute;
    height: 100%;
  }

  .slideOut {
    transform: translateX(-300px);
  }

  .slideIn {
    transform: translate(0px);
  }

  .sidebar-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  .sidebar-panel {
    overflow-y: auto;
    background-color: $body-color;
    position: fixed;
    left: 0;
    top: 0;
    height: 100% !important;
    z-index: 999;
    padding: 3rem 20px 2rem 20px;
    width: 300px;
  }
}
