@import './styles';

html,
body {
  padding: 0;
  margin: 0;
  background-color: $body-color !important;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

p {
  @include font-size(12px);
}